.#{$prefix}{
  &-form{
    @apply
      tw-w-11/12
      sm:tw-w-[360px]
      md:tw-w-[400px]
      tw-flex
      tw-flex-col
      tw-place-items-center
      tw-gap-4
      tw-rounded-2xl
      tw-bg-white
      tw-shadow-lg
      tw-py-6
      tw-col-start-1
      md:tw-col-start-2
      tw-col-span-1
      tw-row-start-1
      tw-row-span-1;
    &-container{
      @apply
        tw-flex
        tw-flex-col
        tw-gap-4;
    }
    &-item{
      @apply
        tw-w-full
        tw-py-4;
      &_alt{
        @apply
          tw-p-0;
      }
    }
    &-checkbox{
      @apply
        tw-w-9/12
        tw-flex
        tw-items-center
        tw-gap-4
    }
  }
}
